html {
    scroll-behavior: smooth;
    //scroll-padding-top: 125px; 
}



$primary: #1D6154;
$secondary: #B1663C;

$delete: #D65353;


h3 {
    color: #000;
    font-size: 26px;
    font-weight: 400;

    line-height: 31px;
}

.separator{
    width: 70%;
    height: 1px;
    background-color: #B3B3B3;
}