#login__form{
    display: flex;
    flex-direction: column;

    width: 100%;

    row-gap: 20px;
    
    //sbackground-color: rgb(193, 155, 255);

    &> div{
        display : flex;
        flex-direction: column;

        row-gap: 10px;

        &> input{
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;

            height: 30px;
            padding: 10px;

            background-color: white;
            border : none;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);

            &:focus{
                border: none;  //QUESTION :remove completely border during focus ? 
            }
        }
    }
/*
    &> button{
        align-self: center;

        font-family: 'Syne';
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
    
        color: white;
        background-color: $primary;
    
        height: 35px;
        width: 180px;

        padding: 0px 30px 0px 30px;
        margin: 10px 0px 40px 0px;
    
        text-align: center;

        border: none;
        border-radius: 60px;

        &:hover{
            background-color: lighten($primary, 10%);
        }
    }*/
}

.password-forgotten{
    text-decoration: underline;
}