/////////////////////
/// MODAL GALLERY ///
/////////////////////

#modal-gallery {

    position: absolute;

    display: none; 
    flex-direction: column;

    align-items: center;

    row-gap: 40px;

    //width: 95%;
    max-width: 630px;
    min-width: 300px;
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
  
    top: 45%;
    left: 50%;
    
    height: 75vh;
    overflow: auto;

    opacity: 0;
    transform: translate(-50%, calc(-50% - 50px)); 
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;


    &.active {

        display: flex;
        opacity: 1;
        transform: translate(-50%, -50%);  
        transition: opacity 0.4s 0.2s ease-out, transform 0.4s 0.2s ease-out;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;

        width: 70%;

        .grid-item {
            position : relative;
            height: auto;
            
            &:hover {
                transform : scale(1.2);
            }

            .figure-action {
                position: absolute;
            
                display: flex;
                flex-direction: row;
            
                top: 6px;
                right: 6px;
            
                column-gap: 3px;
            
                color: white;
            }

            .modal-figure {
                display: flex;
                flex-direction: column;
                
                
                width:100%;
                height: 100%;
                
                
                img{
                    width:100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    
    .modale-gallery-actions{

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        width: 100%;

        row-gap: 20px;
    }    
}